@{
    Layout = null;
}
@model BlogApp.Views.Models.AddCommentModel
<div class="add-comment">
    <form action="@Url.Action("Index", "Home")" method="post">
        @Html.TextAreaFor(m => m.Comment, new { placeholder = "Ваш комментарий", @class="txt-area" })
        @Html.TextBoxFor(m => m.User.Username)
        <div class="wrap-btn"> 
            <button class="btn-cancel">Отмена</button>
            <button class="btn-save">Отправить</button>
        </div>
    </form>
</div>